<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericwei.project333">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clothes_tab.TodayOutfitActivity"
            android:label="@string/title_activity_today_outfit"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".data.ClothesContentProvider"
            android:authorities="com.ericwei.project333"
            android:exported="false" />

        <activity android:name=".wardrobe_tab.WardrobeExpandableListActivity" />
        <activity android:name=".ClothesImagesActivity" />
        <activity android:name=".PickOutfitActivity" />
        <activity android:name=".clothes_tab.SavedOutfitsActivity" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".ItemDetailViewActivity"></activity>
    </application>

</manifest>